* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    section.banner {
      img {
        object-fit: contain;
      }
    }
    section.story {
      background: linear-gradient(#7ab8f6 0%, #fff 50%);
      width: 100%;
      height: 100vh;
    }
  }
}
